/*-standard-*/:root{--transparent:transparent;--match:#ffffff;--oppos:#000000;
--mild:#aeaeae;
--o10:rgba(0,0,0,.1);
--o20:rgba(0,0,0,.2);
--d:#252525;
--a:blue;
 --a_v:#3d3d3d;
 --a_h:black;
 --a_f:black;
 --a_a:black;
--y:#fae134;--r:#ff644d;--g:#929192;--b:#0076ba;
/* W/A */--background-witha:rgba(0,0,0,.06);--color-witha:black;--background-rdb:rgba(255,100,77,.08);--color-rdb:black;--background-cdo:rgba(0,145,0,.1);--color-cdo:black}
} /**root**/
/*_standard_*/*{box-sizing:border-box}
body{background-color:var(--match);color:var(--oppos);margin:0}
p{color:var(--d)}
a{color:var(--a)}
a:visited{color:var(--a_v)}
a:hover,a:focus,a:active{color:var(--a_h)}
/*_globals_*/
.container{padding:4%}
.contained{padding:0 4% 4% 4%}
.z1{position:relative;z-index:1}
.z2{z-index:2}
/**globals**/
/*_commons_*/
.floatl{float:left}.floatr{float:right}
.block{display:block}
.w100{width:100%}
.ib{display:inline-block}
.pr{position:relative}
.flex{display:flex}
.fwr{flex-wrap:wrap}
.column{flex-direction:column}
.center{justify-content:center}
.centerv{align-items:center}
/**commons**/
#navigate{display:flex;align-items:stretch;justify-content:space-between;flex-wrap:wrap}
 #login-form{flex:1 0 100%}
#navigate a{padding:4%;align-content:center}
#navigate a h1{margin:0}
#navigate a:last-child{align-content:center;text-align:right;font-size:32px;padding-top:0;padding-bottom:0}
#navigate a:nth-child(2),#navigate a:nth-child(3){flex:1 1 auto}

.title{}
.title h1{margin:0;font-size:32px;line-height:24px}
/*_nav_*/
.active{box-shadow:0 -20px 8px -12px rgba(0,0,0,.5);border-radius:64px}
.actived{box-shadow: 0 20px 8px -12px rgba(0,0,0,.5);border-radius:64px}
#search{display:flex;align-items:center;background-color:var(--transparent);background-color:rgba(0,0,0,.5);backdrop-filter:blur(3px)}
#search input[type="search"]{color:var(--oppos);font-family:inherit;font-size:1.5em;font-weight:800;border:none;outline:none;border-radius:7px;letter-spacing:.5px;background-color:inherit;padding:0;min-width:0;flex:1 1 auto}
#search input[type="submit"]{color:var(--d);font-family:inherit;font-size:1.5em;border:none;border-radius:7px;background:var(--o10);text-decoration:none;padding:0;flex:0 0 auto;padding:0 1%}
#search input[type="submit"]:hover{background:var(--o20)}
#search:has(input[type="submit"]:hover) input[type="search"]{text-decoration:underline}
#search input[type="search"]:hover::placeholder{color:var(--oppos)}#search:has(input[type="submit"]:hover) input[type="search"]::placeholder{color:var(--oppos)}
/**nav**/
/*_results_*/
.clist{list-style:none;margin:0;padding:0;display:flex;flex-wrap:wrap;gap:1rem;padding-top:.5rem}.clist li{letter-spacing:.4px}
.blist a{padding:1em}
a{text-decoration:none}
.search{display:block}
.search h3{margin:0}
.rlink{opacity:.5}
.search:hover a:hover .rlink{text-decoration:underline;color:var(--fg);opacity:.77}
.search p{margin:0}
.imagery{width:64px;height:64px;min-width:64px;margin-right:16px;float:left}
.imagery *{max-width:64px;max-height:64px}
.material{}
.search-result{position:relative;overflow:auto}
/*link&.linked*/
.link{position:absolute;top:0;left:-4%;right:-4%;bottom:0;z-index:1}
.linked{display:inline-block;padding:4% 0 4% 0;display:block}
/**results**/
/*_account_*/

/**account**/
/*_fields_*/
.scheme{background:transparent;display:block;color:var(--oppos);width:100%}
.scheme::placeholder{color:lightgray}
.scheme:focus{outline:2px solid var(--mild)}
.button0{background:transparent;padding:.4em;color:var(--d);border:2px gray outset;font-weight:700;letter-spacing:.2px;}
.button0:hover,.button0:focus,.button0:active{border:2px darkgray inset}
/**fields**/
/**standard**/
/*-dark-*/@media(prefers-color-scheme:dark){
:root{--match:#000000;--oppos:#ffffff;
 --mild:#404040;
 --o10:rgba(255,255,255,.1);
 --o20:rgba(255,255,255,.2);
 --d:#d1dde3;
 --a:lightcyan;
  --a_v:lightcyan;
  --a_h:white;
  --a_f:white;
  --a_a:yellow;
/* W/A */--background-witha:rgba(255,255,255,.06);--color-witha:white;--background-rdb:rgba(255,100,77,.08);--color-rdb:white;--background-cdo:rgba(0,145,0,.1);--color-cdo:white;
}/**darkroot**/
/*_nav_*/
.active{box-shadow:0 -20px 8px -12px rgba(255,255,255,.5);border-radius:64px}
.actived{box-shadow:0 20px 8px -12px rgba(255,255,255,.5);border-radius:64px}
form.id input[type="submit"]{background:rgba(0,0,0,.5);color:var(--d)}
form.id input[type="submit"]:hover{background:rgba(0,0,0,.8);color:var(--oppos)}
/**nav**/
body{background-color:var(--match);color:var(--oppos)}
p{color:var(--d)}
a{color:var(--a)}
a:visited{color:var(--a_v)}
a:hover,a:focus{color:var(--a_h)}
a:active{color:var(--a_a)}
}
/**dark**/
/*_queries_*/
@media screen and (max-width: 430px){
.linked{padding:9% 0 9% 0}
}
@media screen and (max-width: 768px){}
@media screen and (max-width: 767px){}
@media screen and (max-width: 1024px){}
@media screen and (min-width: 1025px){
.linked{padding:2% 0 2% 0}
}
@media screen and (min-width: 2034px){
.linked{padding:1% 0 1% 0}
}
/**queries**/